.mid-screen
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.tool-bar
{
    height: 100%;
    max-width: 3.5rem;
    min-width: calc((1.25rem * 2) + .5rem + 2px);
    background-color: #F0F0F0;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    margin: 0;
    padding: .25rem;
    padding-right: .15rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tool-bar li, .unselected, .selected
{
    float: left;
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: .06rem;
    box-sizing: border-box;

    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
}

.unselected
{
    background-color: #F0F0F0;
    border: 1px solid transparent;
}

.unselected:hover
{
    background-color: #E5F3FF;
    border: 1px solid #CCE8FF;
}

.selected
{
    background-color: #C0DCF3;
    border: 1px solid #90C8F6;
}

#tools
{
    min-height: calc((1.5rem + .06rem) * 8);
    height: calc((1.5rem + .06rem) * 8)
}

#options-box
{
    border-top: 1px solid #A0A0A0;
    border-left: 1px solid #A0A0A0;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

    width: 2.5rem;
    height: 4rem;

    margin-top: .25rem;

    align-self: center;
}

#draw-area
{
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}

#canvas, #effect-layer
{
    margin-right: .35vw;
    position: absolute;
    left: .15rem; 
    top: .15rem;
    z-index: 0;
}

#effect-layer
{
    z-index: 1;
}